@import 'tailwindcss';

@theme {
  --color-background-primary: var(--bg-primary);
  --color-background-secondary: var(--bg-secondary);
  --color-background-tertiary: var(--bg-tertiary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-border: var(--border-color);
  --color-accent: var(--accent-color);

  --font-display: 'Literata', serif;
  --font-sans: 'Inter', sans-serif;

  --background-image-noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");
}

:root {
  /* --- LAYOUT VARIABLES --- */
  --app-max-width: 1200px;
  --app-padding: 1.5rem; /* 24px (px-6) */

  /* --- COLORS --- */
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f5;
  --bg-tertiary: #e5e5e5;

  --text-primary: #171717;
  --text-secondary: #404040;
  --text-muted: #737373;

  --border-color: #e5e5e5;
  --accent-color: #000000;
}

.dark {
  --bg-primary: #050505;
  --bg-secondary: #0a0a0a;
  --bg-tertiary: #171717;

  --text-primary: #e5e5e5;
  --text-secondary: #a3a3a3;
  --text-muted: #525252;

  --border-color: #262626;
  --accent-color: #ffffff;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-display), serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}

.bg-noise {
  background-image: var(--background-image-noise);
}

/* Защита контента */
.protected-content {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-touch-callout: none; /* iOS Safari */
}

/* Запрет перетаскивания картинок (Ghost image) */
.protected-content img {
  pointer-events: none;
}
